<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta charset="utf-8" />
	<title>Gr1d-pag3</title>
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/style.css">
	<link rel="stylesheet" type="text/css" href="lib/css/style2.css">
	<link rel="stylesheet" type="text/css" href="lib/css/style3.css">
	<script src="lib/js/jquery.js"></script>
	<link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>
	<section id="envelope">
		<div id="nav">
			<i class="fa fa-bars" aria-hidden="true"></i>	
		</div>
		
		<div id="planos">
			<h1>Melhor plano para você!</h1>
			<div class="planos-card">
				<div class="valor">
					<div id="valor-info">
						<p>Por</p>
						<span>20</span>
						<i>,90</i>
						<div>Mensais</div>
					</div>
				</div>
				
				<div class="info">
    				
					<p>Indenizações</p>

    				<ul>
 						 <li>Doenças Graves</li>
 						 <li>Invalidez (IPA)</li>
 						 <li>Morte Natural</li>
 						 <li>Morte Acidental</li>
					</ul>

					<div class="btn">
						<button>Contratar</button>
					</div>

				</div>
			</div>

			<div class="planos-card">
				<div class="valor">
					<div id="valor-info">
						<p>Por</p>
						<span>40</span>
						<i>,90</i>
						<div>Mensais</div>
					</div>
				</div>
				
				<div class="info">
    				
					<p>Indenizações</p>

    				<ul>
 						 <li>Doenças Graves</li>
 						 <li>Invalidez (IPA)</li>
 						 <li>Morte Natural</li>
 						 <li>Morte Acidental</li>
 						 <li>Descontos em Medicamentos</li>
					</ul>

					<div class="btn">
						<button>Contratar</button>
					</div>

				</div>
			</div>

			<div class="planos-card">
				<div class="valor">
					<div id="valor-info">
						<p>Por</p>
						<span>95</span>
						<i>,90</i>
						<div>Mensais</div>
					</div>
				</div>
				
				<div class="info">
    				
					<p>Indenizações</p>

    				<ul>
 						 <li>Doenças Graves</li>
 						 <li>Invalidez (IPA)</li>
 						 <li>Morte Natural</li>
 						 <li>Morte Acidental</li>
 						 <li>Descontos em Medicamentos</li>
 						 <li>Sorteios Mensais</li>
 						 <li>Transplante de orgãos</li>

					</ul>

					<div class="btn">
						<button>Contratar</button>
					</div>

				</div>
			</div>


		</div>


	</section>